* {
    margin: 10;
    padding: 10;
}

div p {
    color: purple;
}

ul.orange > li {
    color: orange;
}

h1 + p {
    color: teal;
}

input[type="text"] {
    border: 2px solid blue;
}

a:hover {
    color: red;
}